.top {
  @include flex-column(24);
  text-align: center;
  align-items: center;
  justify-content: center;

  &__text {
    margin: 0 auto 48px;
    text-align: center;
    max-width: 750px;
    font-size: 22px;
    color: #61915a;
  }
}